host: localhost
port: 5000

username: default
password: default

debug: False
trace: False

ratelimit: 2000000 #KiloBytes
restrictfilenames: True

db:
  host: localhost
  port: 5432
  db: youtube
  user: postgres
  password: Testpass
  timezone: America/Los_Angeles
