host: localhost
port: 5000

username: default
password: default

debug: True
trace: True

ratelimit: 2000000 #KiloBytes
restrictfilenames: True



db:
  engine: postgresql # Postgresql, sqlite, mysql, mariadb
  host: localhost
  port: 5432
  db: youtube
  user: default
  password: default
  timezone: America/Los_Angeles

