annotated-types
anyio
asyncpg
Brotli
certifi
charset-normalizer
click
colorama
fastapi
greenlet
idna
loguru
markdown-it-py
mdurl
munch
mutagen
pycryptodomex
pydantic
pydantic_core
Pygments
PyYAML
requests
rich
shellingham
sniffio
SQLAlchemy
starlette
typer
typing_extensions
urllib3
websockets
yt-dlp
